/*
    Show the help when the field is active and show the validation when the field is invalid.
*/
.df-input:active + .messages > .df-help,
.df-input:focus + .messages > .df-help {
    visibility:visible;
}

.df-input.ng-dirty.ng-invalid + .messages > .df-validation {
    display: block;
}

.df-input[disabled] {
    background-color: white;
    border: none;
}

/*
.df-input-label {
    position:absolute;
    top: -20px;
    right: 10px;
}
.df-input-label:before {
    content: "?";
}

.df-input:active + .messages > .df-input-label,
.df-input:focus + .messages > .df-input-label {
    color:blue;
}
.df-input:active + .messages > .df-input-label:before,
.df-input:focus + .messages > .df-input-label:before {
    content: "x";
}*/
