<div class="field-group" df-column="<%= column.name %>" df-mode="<%= mode %>"
     ng-class="{'field-group-tooltip--active': columnCtrl.displayHelp(), 'field-group--error': <%= form %>.<%= column.name %>.$invalid && <%= form %>.<%= column.name %>.$dirty}"
     ng-show="<%= show %>">

    <div class="form-input-container">
        <label class="form-label" df-label></label>
        <input type="text" class="form-input" df-input />
    </div>


    <button type="button" class="form-tooltip-toggle" ng-click="columnCtrl.toggleHelp()">
        <span>Show help information</span>
    </button>

    <!--Help-->
    <div class="form-tooltip form-tooltip--feature-aside" df-help>
    </div>

    <!--Validation-->
    <div class="form-error" df-validation>
    </div>
</div>
