<div class="df-column" df-column="<%= column %>" df-mode="<%= mode %>">

    <label for="<%= column.name %>" class="df-label">
        <%= column.label %>
    </label>

    <div>
        <input df-input class="df-input" />
        <div class="messages">
            <div df-edit class="df-edit"></div>
            <div df-help class="df-help"></div>
            <div df-validation class="df-validation"></div>
        </div>
    </div>

    <div df-edit-controls class="df-edit-controls"></div>

</div>