<div sy-form-group data-layout="df-form-<%= mode %>" df-column="<%= column.name %>" df-mode="<%= mode %>" ng-show="<%= show %>">
    <label class="control-label" for="<%= column.name %>" ng-class="{'label-required': '<%= mode %>' !== 'read' && !('<%= column.optional %>')}">
        <%= column.label %>
    </label>
    <div>
        <input type="text" class="form-control" df-input />

        <div sy-alert-box="<%= column.name %>" df-validation>
        </div>

        <div sy-help></div>
    </div>
</div>