<div class="field-group" df-column="<%= column %>" df-mode="<%= mode %>">

    <div class="form-input-container">
        <label class="form-label" df-label></label>
        <input type="text" class="form-input" df-input>
    </div>


    <button type="button" toggle-tooltip="" class="form-tooltip-toggle">
        <span>Show help information</span>
    </button>

    <!--Help-->
    <div class="form-tooltip form-tooltip--feature-aside" df-help>
    </div>
    <!--Validation-->
    <div class="form-error" df-validation>
    </div>
</div>
